.Remove{
    text-align: center;
  }
  
  .Remove .Vinyl {
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
.Remove .Vinyl {
    display: grid;
  }
  
 
  .Remove img {
    margin: 1em auto;
    width: 250px;
    height: 250px;
    border-radius:1em;
    overflow: hidden;
  }
  .Remove >.Vinyl h3{
    width: 60%;
  }

  #Confirm{
    width: 60%;
    margin:1em auto;
    border: none;
    text-align: center;  
    font-size: 16px;
    text-decoration: none;
    background: red;
    color: white;
    border-radius: 7px;
    box-shadow: none; 
    padding: 10px 20px;
  }
  
  #Confirm:hover{
    background: darkred;
  }
  #Cancel{
    width: 60%;
    margin: auto;
    border: none;
    text-align: center;  
    font-size: 16px;
    text-decoration: none;
    background: lightgrey;
    color: white;
    border-radius: 7px;
    box-shadow: none; 
    padding: 10px 20px;
    
  }
  
  #Cancel:hover{
    background: darkgray;
  }