.Details {
    text-align: center;
  }
  
  .Vinyl {
    display: flex;
    margin: 0 auto;
    width: 50%;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  
  .Vinyl {
    display: grid;
  }
  
 
  .Vinyl img {
    
    margin: 1em auto;
    width: 250px;
    height: 250px;
    border-radius:1em;
    overflow: hidden;
  }
  
  
  h4{
      margin:0.3em auto;
  }
  .Vinyl .Link {
    width: 70%;
    margin:0 auto;
    border: none;
    text-align: center;  
    font-size: 16px;
    text-decoration: none;
    background: lightgrey;
    color: white;
    border-radius: 7px;
    margin-bottom: 0.5em; 
    box-shadow: none; 
    padding: 10px 20px;
  }
  
 .Vinyl> .Link:hover{
    color: white;
    background: darkgray;
  }