.Edit form {
    display: grid;
    width: 25%;
    margin: 0 auto;
  }
/*   
  .Create input {
    padding: 10px;
    margin-bottom: 0.4em;
  }.Create form {
    display: grid;
    width: 25%;
    margin: 0 auto;
  } */
  
  .Create input,select {
    padding: 10px;
    margin-bottom: 1em;;
   border-radius:0.5em;
   border:2px solid darkgrey;
  }
  .Create input:focus,select:focus{
    outline:none;
    border:4px solid darkgrey;
  }
  .Create > form > input.Button{  
    width: 50%;
    margin:0 auto;
    border: none;
    text-align: center;  
    font-size: 16px;
    background: lightgray;
    color: white;
    border-radius: 7px;
    box-shadow: none;
  }
  
  .Create>form> input.Button:hover{
    color: white;
    background: darkgray;
  }
  .Create .Back{  
    width: 50%;
   text-decoration: none;
   padding:0.5em;
    margin:0 auto;
    border: none;
    text-align: center;  
    font-size: 16px;
    background: lightgray;
    color: white;
    border-radius: 7px;
    margin-top: 0.5em; 
    box-shadow: none;
  }
  
  .Create .Back:hover{
    color: white;
    background: darkgray;
  }