.Stats {
    text-align: center;
  }
  
  .Stats ul.Users{    
    display: flex;
    flex-direction:row;
    margin: 1em auto;
    width: 70%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type:none;
  }

  .Stats li.UserRow{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;    
    border: 2px solid lightgray;
    margin-bottom:2px;
    width:100%;
    padding:1em;
  }

  .Stats li.Vinyl {
    display: inline-block;
    width:160px;
  }

  .Stats .EmptyBox{
    width:150px;
    height:150px;
    list-style-type:none;
    margin-top:6em;
    text-align:center;
  }
 
  .Stats img {
    margin: 1em auto;
    width: 150px;
    height: 150px;
    margin-bottom:1em;
  }
  .Stats .GoToLink{
    text-decoration: none;
    color:darkgray;
  }
  .Stats .Link{  
    width: 60%;
    margin:0 auto;
    border: none;
    text-align: center;  
    font-size: 16px;
    text-decoration: none;
    background: lightgrey;
    color: white;
    border-radius: 7px;
    margin-top: 100px; 
    box-shadow: none; 
    padding: 10px 20px;
  }
  
  .Link:hover{
    color: white;
    background: darkgray;
  }

  .Edit{
    display:inline-block;
    width: 16%;
    margin:2em 0.2em;
    border: none;
    text-align: center;  
    font-size: 16px;
    text-decoration: none;
    background: lightgrey;
    color: white;
    border-radius: 7px;
    box-shadow: none; 
    padding: 10px 20px;
  }